@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html, body {
  background-color: #080808;
  margin: 0;
  padding: 0;
}

#root {
  background-color: #080808;
  min-height: 100vh;
}